html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	margin-bottom:15px;
}

.project-figure {
	margin: auto;
	
	
	
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: center;
	font-size: larger;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}


@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
        .nav-item{
            display: inline-block;
            padding: .5em 1em;
            margin-right: .5em;
            position:relative;
            color: black;
            text-decoration: none;
            /*remove underline*/
            overflow: hidden;
        }
        .nav-item:after,
        .nav-item:before {
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background: white;
        transform: translateX(-100%);
        transition: all .2s ease-out;
        }
        .nav-item:before {
        background: rgb(143, 238, 255); 
        }
        .nav-item:after {
        transition-duration: .4s;
        transition-delay: .1s;
        }
        .nav-item:hover:before{
        transform: translateX(0%); 
        }
        .nav-item:hover:after {
        transform: translateX(100%);
        }